/* font-family: "RalewayMedium"; */
@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "corinthia"; */
@font-face {
    font-family: "corinthia";
    src: url("../fonts/corinthia/corinthia.eot");
    src: url("../fonts/corinthia/corinthia.eot?#iefix")format("embedded-opentype"),
    url("../fonts/corinthia/corinthia.woff") format("woff"),
    url("../fonts/corinthia/corinthia.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "pfdintextcomppro-bold"; */
@font-face {
    font-family: "pfdintextcomppro-bold";
    src: url("../fonts/pfdintextcomppro-bold/pfdintextcomppro-bold.eot");
    src: url("../fonts/pfdintextcomppro-bold/pfdintextcomppro-bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/pfdintextcomppro-bold/pfdintextcomppro-bold.woff") format("woff"),
    url("../fonts/pfdintextcomppro-bold/pfdintextcomppro-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "pfdintextcomppro-light"; */
@font-face {
    font-family: "pfdintextcomppro-light";
    src: url("../fonts/pfdintextcomppro-light/pfdintextcomppro-light.eot");
    src: url("../fonts/pfdintextcomppro-light/pfdintextcomppro-light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/pfdintextcomppro-light/pfdintextcomppro-light.woff") format("woff"),
    url("../fonts/pfdintextcomppro-light/pfdintextcomppro-light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "pfdintextcomppro-medium"; */
@font-face {
    font-family: "pfdintextcomppro-medium";
    src: url("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.eot");
    src: url("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.woff") format("woff"),
    url("../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "pfdintextcomppro-regular"; */
@font-face {
    font-family: "pfdintextcomppro-regular";
    src: url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot");
    src: url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.woff") format("woff"),
    url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "pfdintextcomppro-thin"; */
@font-face {
    font-family: "pfdintextcomppro-thin";
    src: url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.eot");
    src: url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.woff") format("woff"),
    url("../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}