* {
  margin: 0px;
  padding: 0px; }

/*==========  Basic  ==========*/
.h2 {
  font-family: RalewayMedium, sans-serif;
  font-size: 45px; }

/*==========  Header  ==========*/
header {
  min-height: 870px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part1.png);
  background-size: cover;
  z-index: 20;
  position: relative;
  top: 0;
  left: 0; }
  header p {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 22px;
    padding-top: 50px; }
  header a {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: underline;
    padding-left: 25px;
    line-height: 0px; }
    header a:hover {
      text-decoration: none;
      color: #FFFFFF; }
  header .number {
    font-family: pfdintextcomppro-medium, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 35px;
    line-height: 50px; }
  header img {
    padding-top: 20px;
    max-width: 100%;
    min-width: 100px; }
  header h1 {
    font-family: RalewayMedium, sans-serif;
    font-size: 43px;
    color: #473d39;
    padding-top: 80px; }
  header .caption-wrapper p {
    color: #3a302b;
    padding: 0px 0px 100px 0px;
    font-family: pfdintextcomppro-thin, sans-serif;
    font-size: 28px; }
  header .top {
    z-index: 3; }
  header .advantages-frame {
    background-image: url(../img/advantages-frame.png);
    width: 60px;
    height: 60px;
    font-family: pfdintextcomppro-medium, sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 62px; }
  header .advantages {
    font-family: pfdintextcomppro-regular, sans-serif;
    font-size: 22px;
    padding-top: 5px;
    padding-left: 20px;
    line-height: 25px; }
  header .blur {
    -webkit-box-shadow: 0px 0px 60px 30px white;
            box-shadow: 0px 0px 60px 30px white;
    position: relative;
    top: 30px;
    left: -50px;
    z-index: 0; }
  header .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 20px 40px 20px 40px;
    text-decoration: none; }
  header .button-wrapper {
    padding-top: 45px;
    text-align: center;
    padding-bottom: 150px; }

.prolax-wrap {
  position: absolute;
  top: 49%;
  left: 33%;
  z-index: -1;
  width: 67%; }

/*==========  Section recipe  ==========*/
.recipe {
  min-height: 800px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part2.png);
  background-size: cover;
  position: relative;
  z-index: 21;
  overflow: hidden;
  margin-top: -100px;
  padding-bottom: 100px; }
  .recipe h2 {
    padding-top: 100px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 80px; }
  .recipe img {
    max-width: 100%;
    -webkit-box-shadow: 12px 12px 50px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 12px 12px 50px 10px rgba(0, 0, 0, 0.5); }
  .recipe p {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 18px;
    color: #FFFFFF; }
    .recipe p strong {
      font-family: pfdintextcomppro-medium, sans-serif; }
  .recipe .corinthia-text {
    font-family: corinthia, sans-serif;
    font-size: 28px;
    padding-top: 30px;
    padding-right: 120px; }
  .recipe span {
    text-decoration: underline; }

/*==========  Section range  ==========*/
.range {
  min-height: 870px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part3.png);
  background-size: cover;
  position: relative;
  z-index: 18;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .range h2 {
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px; }
  .range a {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 20px;
    display: inline-block;
    color: #89a25e;
    text-decoration: underline; }
  .range p {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 20px;
    display: inline-block;
    line-height: 20px; }
    .range p strong {
      font-family: pfdintextcomppro-medium, sans-serif; }
  .range h3 {
    font-family: pfdintextcomppro-medium, sans-serif;
    font-size: 24px;
    text-align: center; }
  .range ul {
    list-style: none;
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 40px; }
    .range ul li {
      padding: 0px 15px;
      font-family: pfdintextcomppro-light, sans-serif;
      font-size: 20px;
      display: inline-block;
      color: #FFFFFF;
      text-decoration: none;
      cursor: pointer; }
    .range ul .active {
      text-decoration: underline;
      color: #ffecbe; }
  .range .slider {
    font-size: 16px;
    max-height: 450px;
    max-width: 350px;
    margin: 50px auto 0 auto;
    font-family: pfdintextcomppro-light, sans-serif;
    color: #3a302b;
    background: #f3efec;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #f3efec 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #f3efec 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #f3efec 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #f3efec 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #f3efec 0), radial-gradient(circle at 100% 0, transparent 10px, #f3efec 0), radial-gradient(circle at 100% 100%, transparent 10px, #f3efec 0), radial-gradient(circle at 0 100%, transparent 10px, #f3efec 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 50%;
    background-repeat: no-repeat;
    padding: 20px;
    position: relative; }
  .range .price {
    margin: 50px auto 0 auto;
    text-align: center; }
    .range .price select {
      background-color: transparent;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      border: 1px solid #665a54;
      padding: 5px; }
  .range .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 20px 40px 20px 40px;
    text-decoration: none; }
  .range .button-wrapper {
    margin-top: 45px; }
  .range img {
    padding-right: 40px; }

/*==========  Section blogs  ==========*/
.blogs {
  min-height: 870px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part4.png);
  background-size: cover;
  position: relative;
  z-index: 17;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .blogs h2 {
    text-align: center;
    color: #3a302b;
    padding-top: 100px; }
  .blogs img {
    max-width: 100%;
    padding-top: 50px; }
  .blogs p {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 20px;
    padding-top: 15px; }
  .blogs .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 20px 40px 20px 40px;
    text-decoration: none; }
  .blogs .button-wrapper {
    margin-top: 45px;
    text-align: center;
    padding-bottom: 50px; }
  .blogs .slideInLeft {
    visibility: hidden; }

/*==========  Section demand  ==========*/
.demand {
  min-height: 870px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part5.png);
  background-size: cover;
  position: relative;
  z-index: 16;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .demand h2 {
    text-align: center;
    color: #3a302b;
    padding-top: 100px; }

/*==========  Section delivery  ==========*/
.delivery {
  min-height: 800px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part6.png);
  background-size: cover;
  position: relative;
  z-index: 15;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .delivery h2 {
    text-align: center;
    color: #3a302b;
    padding-top: 100px; }
  .delivery .icon-wrapper {
    min-height: 48px;
    margin: 20px 0px; }
  .delivery p {
    color: #463d38;
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 20px; }
  .delivery .faded-delivery {
    visibility: hidden; }

/*==========  Section map  ==========*/
.map {
  min-height: 750px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part7.png);
  background-size: cover;
  position: relative;
  z-index: 14;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .map h2 {
    text-align: center;
    color: #3a302b;
    padding-top: 100px; }
  .map .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 20px 40px 20px 40px;
    text-decoration: none; }
  .map .button-wrapper {
    margin-top: 450px;
    text-align: center; }
  .map img {
    visibility: hidden; }
  .map .img1 {
    position: absolute;
    bottom: 100px;
    left: 100px; }
  .map .img2 {
    position: absolute;
    bottom: 50px;
    left: 80px; }
  .map .img3 {
    position: absolute;
    bottom: 160px;
    left: 80px; }
  .map .img4 {
    position: absolute;
    bottom: 150px;
    left: 150px; }
  .map .img5 {
    position: absolute;
    bottom: 150px;
    left: 250px; }
  .map .img6 {
    position: absolute;
    bottom: 200px;
    left: 270px; }
  .map .img7 {
    position: absolute;
    bottom: 100px;
    left: 270px; }
  .map .img8 {
    position: absolute;
    bottom: 100px;
    left: 350px; }
  .map .img9 {
    position: absolute;
    bottom: 150px;
    left: 330px; }
  .map .img10 {
    position: absolute;
    bottom: 200px;
    left: 370px; }
  .map .img11 {
    position: absolute;
    bottom: 200px;
    left: 570px; }
  .map .img12 {
    position: absolute;
    bottom: 300px;
    left: 550px; }
  .map .img13 {
    position: absolute;
    bottom: 170px;
    left: 550px; }
  .map .img14 {
    position: absolute;
    bottom: 170px;
    left: 750px; }
  .map .img15 {
    position: absolute;
    bottom: 200px;
    left: 720px; }
  .map .img16 {
    position: absolute;
    bottom: 300px;
    left: 770px; }
  .map .img17 {
    position: absolute;
    bottom: 150px;
    left: 950px; }
  .map .img18 {
    position: absolute;
    bottom: 220px;
    left: 920px; }
  .map .img19 {
    position: absolute;
    bottom: 280px;
    left: 970px; }
  .map .img20 {
    position: absolute;
    bottom: 180px;
    left: 1150px; }
  .map .img21 {
    position: absolute;
    bottom: 220px;
    left: 1120px; }
  .map .img22 {
    position: absolute;
    bottom: 240px;
    left: 1170px; }
  .map .img23 {
    position: absolute;
    bottom: 180px;
    left: 1250px; }
  .map .img24 {
    position: absolute;
    bottom: 220px;
    left: 1250px; }
  .map .img25 {
    position: absolute;
    bottom: 240px;
    left: 1300px; }

/*==========  Section conditions  ==========*/
.conditions {
  min-height: 870px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part8.png);
  background-size: cover;
  position: relative;
  z-index: 13;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .conditions h2 {
    text-align: center;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 50px; }
  .conditions .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 20px 40px 20px 40px;
    text-decoration: none; }
  .conditions .button-wrapper {
    text-align: center;
    margin: 60px auto 20px auto; }
  .conditions .img-wrapper {
    padding-bottom: 50px; }
  .conditions ul {
    list-style-image: url("../img/list-marker.png"); }
    .conditions ul li {
      font-family: pfdintextcomppro-light, sans-serif;
      font-size: 20px;
      color: #FFFFFF;
      margin-left: 12px; }

/*==========  Section our-works  ==========*/
.our-works {
  min-height: 1050px;
  background-repeat: repeat-x;
  background-image: url(../img/bg-part9.png);
  background-size: cover;
  position: relative;
  z-index: 12;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .our-works h2 {
    text-align: center;
    color: #3a302b;
    padding-top: 100px;
    padding-bottom: 50px; }
  .our-works .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 20px 40px 20px 40px;
    text-decoration: none; }
  .our-works .button-wrapper {
    text-align: center;
    margin: 80px auto 30px auto; }
  .our-works .icon-wrapper {
    margin-top: 70px;
    text-align: center; }
  .our-works img {
    min-height: 124px; }
  .our-works p {
    margin: 0px 0px;
    font-family: pfdintextcomppro-medium, sans-serif;
    font-size: 25px;
    text-align: center; }
  .our-works .faded-our-works {
    visibility: hidden; }

/*==========  Section your-brand  ==========*/
.your-brand {
  min-height: 700px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part10.png);
  background-size: cover;
  position: relative;
  z-index: 11;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .your-brand h2 {
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px; }
  .your-brand h3 {
    text-align: center;
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 0px; }
  .your-brand .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 20px 40px 20px 40px;
    text-decoration: none; }
  .your-brand .button-wrapper {
    text-align: center;
    margin: 500px auto 30px auto; }

/*==========  Section oil-paint  ==========*/
.oil-paint {
  min-height: 870px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/bg-part11.png);
  background-size: cover;
  position: relative;
  z-index: 10;
  overflow: hidden;
  margin-top: -80px;
  padding-bottom: 100px; }
  .oil-paint h2 {
    text-align: center;
    color: #3a302b;
    padding-top: 100px;
    padding-bottom: 50px; }
  .oil-paint .img-wrapper {
    text-align: center; }
  .oil-paint p {
    text-align: center;
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 22px; }
  .oil-paint strong {
    font-family: pfdintextcomppro-medium, sans-serif;
    font-size: 30px; }
  .oil-paint .hr {
    height: 1px;
    width: 75px;
    background-color: #b19578;
    margin: auto; }
  .oil-paint h4 {
    text-align: center;
    color: #FFFFFF;
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 26px;
    padding-top: 100px; }
  .oil-paint .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 20px 40px 20px 40px;
    text-decoration: none; }
  .oil-paint .button-wrapper {
    text-align: center;
    margin: 30px auto 30px auto; }
  .oil-paint .faded-oil-paint {
    visibility: hidden; }

/*==========  Section navigation  ==========*/
.navigation iframe {
  background-size: cover;
  position: relative;
  z-index: 9;
  overflow: hidden;
  width: 100%;
  margin-top: -120px; }

/*==========  Footer  ==========*/
footer {
  padding-top: 30px; }
  footer p {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 10px;
    text-align: center; }
  footer .wrap {
    text-align: center;
    padding-top: 15px; }
    footer .wrap p {
      padding-top: 0px;
      text-align: center;
      color: #a8a4a3;
      font-size: 14px; }
  footer .contacts {
    padding-top: 40px; }
  footer a {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 22px;
    color: #aa2639;
    text-decoration: underline;
    float: right; }
    footer a:hover {
      text-decoration: none;
      color: #aa2639; }
  footer .number {
    font-family: pfdintextcomppro-medium, sans-serif;
    font-size: 40px;
    color: #000;
    line-height: 10px;
    padding-top: 25px;
    padding-left: 0px;
    float: right; }

/*==========  Popups  ==========*/
#popup {
  text-align: center;
  height: 490px;
  width: 510px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/popup.png);
  background-size: cover;
  position: relative;
  margin: auto;
  display: none; }
  #popup p {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 20px;
    padding-top: 10px; }
  #popup .input {
    font-size: 16px; }
  #popup input {
    padding: 10px 20px 10px 20px;
    background: #fff;
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 22px;
    text-align: center;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #fff 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #fff 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #fff 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #fff 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #fff 0), radial-gradient(circle at 100% 0, transparent 10px, #fff 0), radial-gradient(circle at 100% 100%, transparent 10px, #fff 0), radial-gradient(circle at 0 100%, transparent 10px, #fff 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    border: none;
    width: 100%; }
    #popup input:focus {
      outline: none; }
  #popup .button {
    background: #aa2639;
    background: -webkit-radial-gradient(0 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 0 circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(100% 100% circle, transparent 10px, #aa2639 0), -webkit-radial-gradient(0 100% circle, transparent 10px, #aa2639 0);
    background: radial-gradient(circle at 0 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 0, transparent 10px, #aa2639 0), radial-gradient(circle at 100% 100%, transparent 10px, #aa2639 0), radial-gradient(circle at 0 100%, transparent 10px, #aa2639 0);
    background-position: top left, top right, bottom right, bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
    font-family: RalewayMedium, sans-serif;
    font-size: 23px;
    color: #ede0d7;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    width: 100%;
    margin-top: 20px; }
  #popup .form-wrap {
    padding: 40px; }

/*==========  Popups sertifikate  ==========*/
#popup-sert {
  display: none; }

/*==========  Popup-thanks  ==========*/
#popup-thanks {
  text-align: center;
  height: 210px;
  width: 510px;
  background-repeat: repeat-x;
  background-position: top center;
  background-image: url(../img/popup-thahks.png);
  background-size: cover;
  margin: auto;
  display: none;
  position: fixed;
  z-index: 99;
  top: 45%;
  left: 50%;
  opacity: 0; }
  #popup-thanks p {
    font-family: pfdintextcomppro-light, sans-serif;
    font-size: 20px;
    padding-top: 10px; }
  #popup-thanks .form-wrap {
    padding: 40px; }
  #popup-thanks .close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block; }
